In [28]:
import pandas as pd

datasets = {0:'tabula-muris-heart', 1:'tabula-muris-marrow_P7_2', 2:'tabula-muris-marrow_P7_3', 3:'peripheal-blood', 4:'kumar-4-hard', 5:'kumar-8-hard'}
dataset = 0

datapath = "./dataset/{}-filtered/10X/genes.tsv".format(datasets[dataset])
print(datapath)

./dataset/tabula-muris-heart-filtered/10X/genes.tsv

In [29]:
data = pd.read_csv(datapath, sep='\t', header=None)

In [30]:
data = data[0]

In [31]:
print(data)

0                  Rp1
1                Sox17
2               Mrpl15
3               Lypla1
4                Tcea1
             ...
13651    G530011O06Rik
13652            Vamp7
13653            Tmlhe
13654             Zf12
13655            Erdr1
Name: 0, Length: 13656, dtype: object

In [32]:
data = data[data.str.startswith('Mt')]

218        Mtap2
357      Mterfd2
808      Mthfd1l
818       Mtrf1l
871        Mtap7
          ...
13327    Mtap7d3
13341       Mtm1
13342      Mtmr1
13395      Mtcp1
13611    Mtap7d2
Name: 0, Length: 70, dtype: object