In [14]:
import pandas as pd

df = pd.read_csv('/home/matteo/chl/dataset/tabulamuris/annotations_droplet.csv')
df.head()

/tmp/ipykernel_13964/1716006169.py:3: DtypeWarning: Columns (10,12,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/home/matteo/chl/dataset/tabulamuris/annotations_droplet.csv')

,cell,cell_ontology_class,cell_ontology_id,channel,cluster.ids,free_annotation,mouse.id,mouse.sex,subsetA,subsetA_cluster.ids,subsetB,subsetB_cluster.ids,subsetC,subsetC_cluster.ids,subsetD,subsetD_cluster.ids,subtissue,tissue,tissue_tSNE_1,tissue_tSNE_2
0,10X_P7_8_AAACGGGAGGATATAC,myeloid cell,CL:0000763,10X_P7_8,20,dendritic cells and interstital macrophages,3-F-56,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lung,17.024721,-32.902836
1,10X_P7_8_AAACGGGTCTCGTATT,alveolar macrophage,CL:0000583,10X_P7_8,5,NaN,3-F-56,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lung,25.160619,25.066566
2,10X_P7_8_AAAGATGCAGATCTGT,B cell,CL:0000236,10X_P7_8,12,NaN,3-F-56,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lung,1.740567,46.488878
3,10X_P7_8_AAATGCCAGATAGTCA,natural killer cell,CL:0000623,10X_P7_8,7,NaN,3-F-56,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lung,-31.647934,-2.208061
4,10X_P7_8_AAATGCCCAAACTGCT,T cell,CL:0000084,10X_P7_8,21,NaN,3-F-56,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Lung,-37.281266,-5.619565

In [15]:
# take only the channel 10X_P7_4
df = df[df['channel'] == '10X_P7_4']

In [16]:
# cross table between cell ontology class and cluster.id
pd.crosstab(df['cell_ontology_class'], df['cluster.ids'])

cluster.ids            0    1   2   4   5
cell_ontology_class
cardiac muscle cell    0    0   0   0  60
endocardial cell       0    0   0  63   0
endothelial cell     177    0   0   0   0
fibroblast             0  147  79   0   0

In [17]:
only_fibroblast =  df[df['cell_ontology_class'].isnull()]

In [21]:
pd.crosstab(only_fibroblast['subsetA'], df['cluster.ids'])

cluster.ids   2   3
subsetA
False         0  81
True         17   0

In [19]:
# print the records without the cell ontology class

df[df['cell_ontology_class'].isnull()]

#print the unique values of cluster.ids in the previous dataframe
df[df['cell_ontology_class'].isnull()]['cluster.ids'].unique()

array([3, 2])